<html>
    <head>
       <titles>View Article</titles>
    </head>
     <body>
            <h1>View Article</h1>
            <%console.log(request.article)%>
            <h2>Title:<%= request.article.title%></h2>
            <p><%= request.article.content%></p>
        </body>
</html>