<html>
    <head>
        <title>Create Product</title>
    </head>
    <body>
        <h1>Product</h1>
        <div>Title:
                <input type="text" id ="title"/>
        </div><br>
        <div>Content:
                <textarea id= "content"></textarea>
        </div><br>
            <button id ="submit">Submit</button>
        
        
        <script src="/lib/jquery/dist/jquery.min.js"></script> 
        <script>
            
            var product = {title: "", content:""};
            $("#title").change(function(){
                product.title = $("#title").val();
            });
             $("#content").change(function(){
                product.content = $("#content").val();
            });
            
            $("#submit").click(function(){
                console.log(product);
                $.ajax({
                    
                    method: "POST",
                    url:"/api/products",
                    data: product
                    
                    
                }).done(function(response){
                    console.log(response);
                });
            });
        </script>
        
        </body>
</html>