<html>
    <head>
        <title>Product</title>
    </head>
    <body>
        <h1>Product</h1>
        <% console.log(request.product) %>
        <h2> Title: <%= request.product.title %></h2>
        <p> <%= request.product.content %> </p>
        <p> <%= request.product.created %> </p>
    </body>
</html>